.App {
  text-align: center;
  width: 100%;
}

.header {
  background-color: rgb(5, 14, 53);
  padding: auto;
  width: 60vw;
  font-weight: 300;
  border: 4px ridge aliceblue;
}

.g-table .header {
  height: 2em;
}

.toggle-button,
.toggle {
  margin-bottom: 1.3em;
  font-size: 1em;
  font-weight: 700;
  padding: 0.4em;
  cursor: pointer;
  color: rgb(5, 14, 53);
  border-radius: 0.3em;
  border-style: solid  rgb(5, 14, 53);
}

.toggle-button:hover,
.toggle:hover {
  background-color: silver;
}

span {
  content: "\2195";
  color: rgb(5, 14, 53);
}

.table {
  border: 7px ridge aliceblue;
}

.table tr {
  border: 4px ridge rgb(5, 14, 53);
}

.g-table {
  width: 60vw;
}
.global-headers {
  background-color: rgb(5, 14, 53);
}

.g-headers {
  display: table-header-group;
}

.g-t-body {
  display: table-row;
  justify-self: start;
  width: 70vw;
  color: rgb(5, 14, 53);
  font-weight: normal;
  font-style: normal;
  border: 4px ridge rgb(5, 14, 53);
  padding: auto;
  background-color: aliceblue;
}

.name {
  font-weight: normal;
  font-style: normal;
}

.country-headers {
  font-size: 1.5em;
  display: block;
  background-color: rgb(5, 14, 53);
  width: 50vw;
  text-align: center;
  font-weight: 300;
  border: 4px ridge aliceblue;
}

.country-heros {
  display: flex;
  justify-content: space-between;
  margin: 0.2em;
  padding: 0.2em 0.5em 0.2em 0.5em;
  color: rgb(5, 14, 53);
  text-shadow: 2px 1px 1px aliceblue;
  background-color: aliceblue;
}

.App-header {
  background-color: rgb(29, 44, 71);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
